.first-logo {
  width: 800px;
}

.card-color {
  background: rgb(22,124,132);
  background: linear-gradient(143deg, rgba(22,124,132,0.8606793059020483) 21%, rgba(20,85,90,0.9587185215883228) 94%);
  color: white;
}

.thin-line {
  padding: 2px;
}

.one-client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.one-client-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 
.pop-msg {
  color: white;
  font-size: 20px;
}

.nav-logo {
  width: 300px;
}

.droppy {
  display: inline-block;
}

.drop-pop{
  display: none
}
 
.droppy:hover  .drop-pop{
  display: inline-block;
}

