body {
    position: relative;
    background-image: url(../img/horses2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(218, 165, 32, 0.5);
}

.funds-column {
    /* display: flex;
    justify-content: center; */
    width: 600px;
    margin-left: calc(50% - 300px);
    margin-top: 20px;
    padding: 25px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    border: 3px solid goldenrod;
    border-radius: 20px;
    border-radius: 10px;
    background-color: rgba(26, 21, 10, 0.95);
}

.funds-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.funds-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 100px;
    border: none;
    padding: 5px;
    margin-top: 15px;
}

.btn {
    color: white;
    font-weight: 600;
    background-color: rgba(218, 165, 32, 0.2);
    margin-top: 15px;
    padding: 15px 45px;
    border: 1px solid goldenrod;
    border-radius: 5px;
}

.btn:hover {
    font-weight: 700;
    background-color: rgba(218, 165, 32, 0.6);
    margin-top: 15px;
    padding: 15px 45px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid goldenrod;
}