.list-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    width: 1400px;
    margin-left: calc(50% - 700px);
    margin-top: 40px;
    border: 3px solid goldenrod;
    padding: 50px;
    border-radius: 20px;
    background: rgba(37, 28, 25, 0.85);
}

.klientas {
    color: white;
    padding: 50px;
    padding-right: 65px;
    border: 1px solid rgb(86, 68, 20);
    border-radius: 10px;
    background-color: rgba(26, 21, 10, 0.6);
}

.sas-btn {
    font-size: 12px;
    color: white;
    background-color: rgba(218, 165, 32, 0.3);
    padding: 5px 25px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin-top: 10px;
}

.sas-btn:hover {
    font-size: 12px;
    color: white;
    background-color: rgba(218, 165, 32, 0.60);
    padding: 5px 25px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.klientas > a {
    font-size: 18px;
    text-align: center;
    color: skyblue;
    text-decoration: none;
}